doctype html
html(lang='en')
    head
        title Hello, World!
        link(rel="stylesheet" href="http://yui.yahooapis.com/3.18.1/build/cssnormalize/cssnormalize-min.css")
        link(rel="stylesheet" href="css/main.css")
        script(src="js/main.js")
    body
        p Main text
        include ../images/visa-icon.svg
        include ../images/express-icon.svg
        include ../images/discover-icon.svg
        include ../images/mastercard-icon.svg

