doctype html
html(lang='en')
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="http://yui.yahooapis.com/3.18.1/build/cssnormalize/cssnormalize-min.css")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/html5tooltipsjs/1.7.3/html5tooltips.min.css")
        link(rel="stylesheet" href="css/main.css")
    body
        h1.title Thank you for choosing to subscribe to PDFfiller services!
        section.wrapper
            form.user-form
                .icons-mobile
                    include ../images/visa-icon.svg
                    include ../images/express-icon.svg
                    include ../images/discover-icon.svg
                    include ../images/mastercard-icon.svg
                .row
                    label.row__label Cardholder Name
                    .row__input-wrapper.row__input-wrapper_name
                        input.row__input.row__input_name(type="text" name="firstname" placeholder="First Name")
                        input.row__input.row__input_name(type="text" name="lastname" placeholder="Last Name")
                .row
                    label.row__label Card Number
                    .row__input-wrapper
                        input.row__input.row__input_card-number(type="number" inputmode="numeric" pattern="[0-9]*" name="cardnumber" maxlength="19" placeholder="⦁⦁⦁⦁⦁ ⦁⦁⦁⦁⦁ ⦁⦁⦁⦁⦁ ⦁⦁⦁⦁⦁")
                        .icons-desktop
                            include ../images/visa-icon.svg
                            include ../images/express-icon.svg
                            include ../images/discover-icon.svg
                            include ../images/mastercard-icon.svg
                .row.row_date
                    .control
                        label.row__label Exp. Date
                        .row__input-wrapper
                            select.row__select_mm
                                option(selected) MM
                                option 01
                                option 02
                                option 03
                                option 04
                                option 05
                                option 06
                                option 07
                                option 08
                                option 09
                                option 10
                                option 11
                                option 12
                            span.divider /
                            select.row__select_yy
                                option(selected) YYYY
                                option 2018
                                option 2019
                                option 2020
                                option 2021
                                option 2022
                                option 2023
                                option 2024
                                option 2025
                                option 2026
                                option 2027
                                option 2028
                                option 2029
                                option 2030
                    .control
                        label.row__label CVV/CVC
                        input.row__input.row__input_cvv(type="number" max="999" pattern="([0-9]|[0-9]|[0-9])" name="cvv" placeholder="XXXX")
                        #tooltip.tooltip-btn(data-tooltip-color="white" data-tooltip="<div class='tooltip__wrapper' > " +
                         "<div class='tooltip__card'><img class='tooltip__img' src='../images/visa-card-img.png'/><p class='tooltip__text_bold'>Visa, MasterCard</p><p class='tooltip__text'>3-Digit Verification Number</p></div>" +
                         "<div class='tooltip__divider'></div>" +
                         "<div class='tooltip__card'><img class='tooltip__img' src='../images/express-card-img.png'/><p class='tooltip__text_bold'>American Express</p><p class='tooltip__text'>4-Digit Verification Number</p></div>" +
                         "</div>" )
                            include ../images/question-icon.svg
                .row
                    label.row__label Zip/Postal Code
                    .row__input-wrapper
                        input.row__input.row__input_zip(type="number" name="zipcode" placeholder="01001")
                .row.row_paypal-block.row_paypal-block-mobile
                    .paypal-block
                        p.paypal-block__text Or pay with Paypal
                        button.paypal-block__button
                                    include ../images/paypal.svg
                .row.row_submit-button
                    button.submit-button(type="submit") Start My Subscription for $19.99/mo.
            aside.row.row_paypal-block-desktop
                .paypal-block
                    p.paypal-block__text Or pay with Paypal
                    button.paypal-block__button
                        include ../images/paypal.svg

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/html5tooltipsjs/1.7.3/html5tooltips.min.js")
    script(src="js/main.min.js")