@media only screen and (min-width: 481px) {
	.title {
		font-size: 24px;
		font-weight: 400;
		margin: 41px 0 20px 0;
	}

	.control{
		display: flex;
		align-items: center;
		flex-direction: row;
		&:first-child{
			margin-right: 15px;
		}
		&:last-child .row__label {
			min-width: inherit;
		}
	}
	.row {
		margin-bottom: 20px;
		flex-direction: row;
		display: flex;
		align-items: center;
		&__label {
			font-weight:bold;
			font-size: 14px;
			margin-right: 15px;
			min-width: 115px;
		}
		&__input{
			border: 1px solid #CCCCCC;
			height: 32px;
			width: 162px;
			box-shadow: inset 1px 1px 2px 0 rgba(0,0,0,0.20);
			border-radius: 3px;
			padding-left: 10px;
			box-sizing: border-box;
			&_name {
				width: 162px;
				margin-right: 15px;
			}
			&_card-number {
				margin-right: 15px;
			}
			&_cvv {
				width: 85px;
			}
			&_wrapper-name {
				justify-content: normal;
			}
		}
		&__select{
			&_mm {
				width: 64px;
			}
			._yy {
				width: 77px;
			}
		}
	}
	
	.icons-mobile {
		display: none;
	}
	.icons-desktop {
		width: 162px;
		display: flex;
		justify-content: space-between;
	}
	.wrapper {
		max-width: 840px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
	}
	.paypal-block {
		width: 339px;
	}
	.submit-button{
		width:339px;
		height: 42px;
	}
	.row_paypal-block, .row_submit-button{
		justify-content: flex-end;
	}
	.row.row_paypal-block-desktop{
		display: none;
	}
}