@media only screen and (min-width: 481px) {
	.title {
		font-size: 24px;
		margin: 41px 15px 30px 15px;
	}
	.control{
		display: flex;
		align-items: center;
		flex-direction: row;
		&:first-child{
			margin-right: 15px;
		}
		&:last-child .row__label {
			min-width: inherit;
		}
	}
	.row {
		margin-bottom: 20px;
		flex-direction: row;
		display: flex;
		align-items: center;
		&__label {
			min-width: 115px;
			text-align: right;
		}
		&__input{
			width: 162px;
			&_name {
				width: 162px;
				margin-right: 15px;
			}
			&_card-number {
				margin-right: 15px;
			}
			&_cvv {
				width: 85px;
			}
			&_wrapper-name {
				justify-content: normal;
			}
		}
		&__select{
			&_mm {
				width: 64px;
			}
			._yy {
				width: 77px;
			}
		}
	}
	.icons-mobile {
		display: none;
	}
	.icons-desktop {
		width: 162px;
		display: flex;
		justify-content: space-between;
	}
	.paypal-block {
		width: 339px;
		&__text {
			font-size: 16px;
		}
	}
	.submit-button{
		width:339px;
		height: 42px;
	}
	.row_paypal-block, .row_submit-button{
		justify-content: flex-end;
	}
	.row.row_paypal-block-desktop{
		display: none;
	}
}